{
  "env": {
    "production": {
      "presets": ["stage-0", "react", "react-optimize", [
        "env", {
            "debug": true,
            "modules": false,
            "useBuiltIns": true,
            "targets": {
              "browsers": "defaults"
            }
          }
        ]
      ],
      "plugins": ["transform-decorators-legacy"]
    },
    "development": {
      "presets": ["stage-0", "react", [
        "env", {
            "debug": false,
            "modules": false,
            "useBuiltIns": true,
            "targets": {
              "browsers": ["chrome >= 56"]
            }
          }
        ]
      ],
      "plugins": [
        "transform-decorators-legacy"
      ]
    },
    "cli": {
      "presets": ["stage-0", "react", [
        "env", {
            "debug": true,
            "modules": false,
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": ["transform-decorators-legacy"]
    }
  }
}
